.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 70vw;
    min-width: 50px;
    max-width: 1000px;
}

.inputGroup span {
    margin: 3px ;
}

.inputGroupRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.inputGroupFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 15%;
    width: auto;
}

.tagGroupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    background-color: var(--background);
    color: black;
}

.inputGroupFlex button {
    padding: 10px;
}

.tagGroup {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}

.tagGroup input {
    width: 100%;
    min-width: unset;
    max-width: unset;
}

.tagRemoveButton,
.tagAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: var(--secondary-color-jade-green);
    border: none;
    color: var(--background);
    font-size: .875em;
    font-weight: bold;
}

.tagRemoveButton:hover,
.tagAddButton:hover {
    background-color: var(--main-color-teel-green);
    cursor: pointer;
}

.tagRemoveButton {
    padding: 5px;
}

.tagRemoveButton svg {
    width: 20px;
    height: auto;
}

.tagAddButton {
    min-height: 50px;
    padding: 10px 35px;
    width: 100%;
}

.tagAddButton:disabled {
    background-color: gray;
    cursor: default;
}

@media (max-width: 500px) {
    .inputGroup,
    .inputGroupFlex,
    .tagGroup,
    .tagAddButton {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }
}

@media (max-width: 500px) {
    .input span {
        margin: 2px 0;
    }
}

@media (max-width: 960px) {
    .inputGroupRow {
        flex-direction: column;
        width: 100%;
    }

    .inputGroupFlex {
        flex: unset;
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    .inputGroupFlex,
    .inputGroupRow {
        gap: 5px;
    }
}