.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: fit-content;
    min-width: 15%;
    min-height: 100px;
    height: 100%;
}


@media (max-width: 700px) {
    .column {
        min-width: unset;
        width: 100vw;
    }
}